/* ------------------------------ FONTS ------------------------------ */
@font-face {
  font-family: 'LL Circular';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/LL-Circular/Bold/lineto-circular-bold.eot');
  src: url('../fonts/LL-Circular/Bold/lineto-circular-bold.eot') format('embedded-opentype'),
       url('../fonts/LL-Circular/Bold/lineto-circular-bold.woff2') format('woff2'),
       url('../fonts/LL-Circular/Bold/lineto-circular-bold.woff') format('woff');
}


/* ------------------------------ UNIVERSAL ------------------------------ */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
  margin: 0;
}

.wrap_header, .wrap_footer, .wrap_body, .wrap_intro, .wrap_outro {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


/* ------------------------------ HEADERS ------------------------------ */
header {
  padding: 20px 0 25px 0;
  background-color: #7c01fd;
  margin-bottom: 50px;
}

.pagetitle {
  margin-top: 0;
  font-family: 'LL Circular', cursive;
  color: white;
  font-weight: 700;
}

.pagetitle_home {
  margin-top: 15px;
  font-size: 50px;
}

.pagetitle_detail {
  display: inline;
  font-size: 24px;
}

.pagesubtitle {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  line-height: 1.5;
}

.pagesubtitle_text {
  width: 70%;
  margin-top: 10px;
}

.pagesubtitle_links {
  display: inline;
  margin-left: 15px;
}

.pagesubtitle a {
  border-bottom: 2px solid white;
  color: white;
  transition: all .05s ease-in;
}

.pagesubtitle a:hover {
  opacity: .9;
  padding-bottom: 3px;
}

.pagemenu {
  float: right;
  padding-top: 7px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 14px;
}


/* ------------------------------ FOOTERS ------------------------------ */
footer {
  background-color: #7c01fd;
  padding: 40px 0 30px 0;
  font-family: 'Lato', sans-serif;
  color: white;
}

footer a {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  border: 1.5px solid white;
  border-width: 1.5px 1.5px 2.5px;
  color: white;
  transition: all .1s;
}

footer a:hover {
  background-color: white;
  color: #7c01fd;
  transform: translate(0px, -1px);
  box-shadow: 0px 5px 15px #6300cb;
}

.copyright {
  float: right;
  color: white; 
  opacity: .5;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.question {
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 200;
}


/* ------------------------------ SECTIONING ------------------------------ */
.sect_title {
  margin-bottom: 20px;
  border-bottom: 1px solid #BDBDBD;
  color: #5F5F5F;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: 'Lato', sans-serif;
}

.row {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}


/* ------------------------------ CARDS ------------------------------ */
/* --- Link Cards --- */
.card {
  margin-bottom: 50px;
  flex-grow: 1;
}
.card_hero {    max-width: 470px;  }
.card_cat {     max-width: 310px;  }

.card:hover img {
  box-shadow: 0px 5px 15px rgba(0,0,0,.05);
  transform: translate(0px, -3px);
}
.card:hover h2 {
  color: #6300cb;
}

.card img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0px 1px 15px rgba(0,0,0,.1);
  transition: all .25s;
}

/* --- Link Card Text Content --- */
.infobox {
  padding-right: 15px;
  font-family: 'Lato', sans-serif;
}

.artist {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #BDBDBD;
}

.card_title {
  font-size: 24px;
  color: #7c01fd;
  font-weight: 600;
  font-family: 'LL Circular', cursive;
  margin-bottom: 15px;
  transition: all .25s;
}

.desc {
  font-family: 'Lato', sans-serif;
  color: #5F5F5F;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}


/* ------------------------------ BLOCKS ------------------------------ */
/* --- DETAIL: Introduction Block --- */
.intro {
  margin: 50px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #BDBDBD;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.intro_title {
  font-family: 'LL Circular', cursive;
  color: #4f4f4f;
  font-size: 50px;
  margin-bottom: 20px;
}

.intro_tags {
  font-family: 'Lato', sans-serif;
    font-size: 14px;
  font-weight: 400;
  color: #BDBDBD;
  margin-bottom: 20px;
}

.intro_desc {
  font-family: 'Lato', sans-serif;
  color: #5F5F5F;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}

.intro_artist img {
  border-radius: 50%;
  padding-top: 15px;
  margin-top: -15px;
  margin: -15px 5px -10px 0;
}

.intro_artist p {
  display: inline-block;
  color: #7c01fd;
  border-bottom: 2px solid #7c01fd;
}

.intro_artist:hover p {
  color: #6300cb;
  border-bottom: 2px solid #6300cb;
}

/* --- DETAIL: Illustration Blocks --- */
.block {
  margin-bottom: 50px;
  flex-grow: 1;
}
.block_secondary {   max-width: 470px;  }
.block_tertiary {    max-width: 310px;  }

.block img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}

.block_title {
  font-size: 24px;
  color: #5F5F5F;
  font-weight: 600;
  font-family: 'LL Circular', cursive;
  margin-bottom: 15px;
}

.infobox_padded {
  max-width: 80%;
  margin: 0 auto;
}

/* --- DETAIL: Text-only Block --- */
.outro {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  color: #4f4f4f;
  padding: 50px 0;
  margin-top: 50px;
}

.endlink {
  display: inline-block;
  margin-top: 10px;
  color: #7c01fd;
  font-weight: 700;
}

.endlink::after {
  display: inline-block;
  padding-left: 5px;
  font-family: 'FontAwesome';
  content: "\f178";
  transition: .25s all;
}

.endlink:hover {
  color: #6300cb;
}
.endlink:hover:after {
  padding-left: 15px;
}


/* ------------------------------ PROFILES ------------------------------ */
.row_profile {
  margin-bottom: 150px;
}

.half_image {
  position: relative;
  text-align: center;
  width: 49%;
}

.half_image img {
  border-radius: 75%;
  padding-top: 12.5%;
  margin: -12.5% auto 0 auto;
  max-width: 256px;
  max-height: 256px;
}

.half_image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
.half_image::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Chelsea */
.half_image.c::before {
  width: 186px;
  height: 118px;
  background-image: url(../images/c_1.png);
}
.half_image.c::after {
  width: 222px;
  height: 102px;
  background-image: url(../images/c_2.png);
}

/* David */
.half_image.d::before {
  width: 186px;
  height: 118px;
  background-image: url(../images/d_1.png);
}
.half_image.d::after {
  width: 222px;
  height: 102px;
  background-image: url(../images/d_2.png);
}

/* Anthony */
.half_image.a::before {
  width: 208px;
  height: 46px;
  background-image: url(../images/a_1.png);
}
.half_image.a::after {
  width: 222px;
  height: 102px;
  background-image: url(../images/a_2.png);
}

.half_text {
  max-width: 49%;
}
.half_text_left {   padding-right: 2%;  }
.half_text_right {  padding-left: 2%;  }

.socials {
  display: inline-block;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  color: #4f4f4f;
}

.socials a {
  color: #7c01fd;
}

.socials a:hover {
  color: #6300cb;
}